html, body {
    height: 100%;
    max-height: max-content;
    background-color: rgb(15, 15, 15);
    margin:0;

}
  
  .flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:relative;
  }
.words{
    flex-direction: column;
}

.image {
    opacity: 1;
    display: relative;
    width: 40vh;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .leftside:hover .image {
    opacity: 0.1;
  }
  .rightside:hover .image {
    opacity: 0.1;
  }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }