html, body {
    height: 100%;
    max-height: max-content;
    background-color: rgb(15, 15, 15);
    margin:0;

}

.start{
  top:5px;
  left:5px;
  position:absolute;
  display:flex;
  flex-wrap:wrap;
  color: rgb(63, 63, 63);
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

.end{
  bottom:5px;
  right:5px;
  position:absolute; 
  color: rgb(63, 63, 63);
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}
  
  .flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }

.words{
    flex-direction: column;
}

.box {
  position:relative;
  height: 500;
  width: 500;
  margin:auto;
}

.image {
    opacity: 1;
    width: 40vh;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .box:hover .image {
    opacity: 0.1;
  }
  

  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }